@model HomeViewModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<partial name="_Carousel" />

<h2>Önerilenler</h2>

<div class="row">

    @foreach(var computer in Model.ComputerIsRecommend)
    {
        <partial name="_ComputerCard" model="computer" />
    }

</div>
