@model ComputerListViewModel
@{
    ViewData["Title"] = "Laptoplar";
}

<h1>@Model.CurrentCategory</h1>
@foreach (var computer in Model.Computers)
{
    <partial name="_ComputerCard" model="computer" />
}

